fastapi==0.109.2
uvicorn==0.27.1
sqlalchemy==2.0.27
pydantic==2.6.1
pydantic-settings==2.1.0
python-multipart==0.0.9
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.1.2
requests==2.31.0
httpx==0.26.0
python-dotenv==1.0.1
APScheduler==3.10.4
pytz==2024.1
cryptography==42.0.2
pillow==10.2.0
pilmoji==2.0.3
google-generativeai==0.3.2
redis==5.0.1
numpy==1.26.4
vk_api
gunicorn==21.2.0
psycopg2-binary==2.9.9
